@{
    ViewBag.Title = "About";
}

<div class="container">
    <h2>About Our Shop</h2>
    <p class="mt-3">
        We are a small family-run grocery and bakery store located in the heart of the city. Our shop offers quality goods and flexible borrowing (उधारी) options to our regular customers.
    </p>
    <p>
        This system helps us track all the customer debts easily without paperwork. Built with ❤️ using ASP.NET MVC.
    </p>
</div>
