@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <h2>Contact Us</h2>
    <ul class="list-group mt-3">
        <li class="list-group-item"><strong>Owner:</strong> Asim Kazi</li>
        <li class="list-group-item"><strong>Phone:</strong> +91-9623577806</li>
        <li class="list-group-item"><strong>Email:</strong> mubarak@udharigrocery.in</li>
        <li class="list-group-item"><strong>Address:</strong> MCJP+PQH, Chandur Road, Shahu Nagar, Ichalkaranji, Maharashtra 416115, India </li>
    </ul>
</div>
