@{
    ViewBag.Title = "Home";
}

<div class="text-center">
    <h1 class="display-4 mb-3">Welcome to Udhari Grocery & Bakery</h1>
    <p class="lead">Manage all your customer borrowing (उधारी) easily and smartly.</p>
    <a href="/Borrower" class="btn btn-success btn-lg mt-4">📋 View Borrowers</a>
</div>
